.app-nav a {
  margin: 0 15px;
  color: var(--mavs-silver);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.app-nav a:hover {
  color: var(--mavs-white);
  background-color: rgba(0, 83, 140, 0.3);
}

.app-nav a.active-nav-link {
  color: var(--mavs-white);
  font-weight: bold;
  background-color: rgba(0, 83, 140, 0.5);
}