body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mavs-background); 
  color: var(--mavs-white); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --mavs-navy-blue: #002B5C; 
  --mavs-royal-blue: #0a4a92;
  --mavs-silver: #B8C4CA;    
  --mavs-white: #FFFFFF; 
  --mavs-black: #000000;    
  --mavs-background: #071A3B; 
  

  --mavs-green: #00863B; 
  --mavs-error-red: #FF6B6B; 
  --mavs-royal-blue-transparent: rgba(0, 83, 176, 0.15); 
  --mavs-royal-blue-transparent-hover: rgba(0, 83, 176, 0.3); 
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--mavs-navy-blue);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--mavs-royal-blue);
  border-radius: 5px;
  border: 1px solid var(--mavs-navy-blue); 
}

::-webkit-scrollbar-thumb:hover {
  background: #006AD5;
}


a {
  color: inherit; 
  text-decoration: none; 
}
