html {
  background-color: var(--nba-background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--nba-background); 
  color: var(--nba-white); 
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --nba-navy-blue: #1d428a; 
  --nba-royal-blue: #17408b;
  --nba-silver: #c1c1c1;    
  --nba-white: #FFFFFF; 
  --nba-black: #000000;    
  --nba-background: #0c2340; 
  --nba-red: #c8102e;
  

  --nba-green: #007a33; 
  --nba-error-red: #FF6B6B; 
  --nba-royal-blue-transparent: rgba(23, 64, 139, 0.15); 
  --nba-royal-blue-transparent-hover: rgba(23, 64, 139, 0.3); 
}

a {
  color: inherit; 
  text-decoration: none; 
}
